body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #cbfffb, #838383);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #282c34;
}

.App {
    text-align: center;
    padding: 20px;
    background-color: rgb(245, 245, 245);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
    margin-bottom: 20px;
    border-radius: 8px 8px 0 0;
}

input {
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #61dafb;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #21a1f1;
}